@import url("https://rsms.me/inter/inter.css");

*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background-color: rgb(250, 250, 250);
}

.Title{
  display: flex;
  background-color: white;
}

h1{
  background-color: #00d4ff;
  color: white;
  height: 100%;
  font-size: 70px;
}

.Title button{
  margin: 1vw;
}

.links{
  display: flex;
  justify-content: space-between;
}

h4{
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 3vw;
}

h4:hover{
  color:#00d4ff;
  text-decoration: underline;
}

.Select{
  display: flex;
  justify-content: center;
  padding-top: 6vw;
  margin-bottom: 6vw;
}

.Select button{
  margin: 0px 30px;
}

table,
td, th {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

th:nth-child(even),td:nth-child(even) {
  background-color: #ccf5fd;
}


button{
  border-radius: 25px;
  color: white;
  background-color: black;
  border: none;
  padding: 20px;
}

button:hover{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

select{
  background-color: white;
}

.tableBlock{
  display: block;
}